<style>
    .clear-textarea {
      position: absolute;
      top: 0;
      right: 14px;
      
    }
    .close-icon:after {
      content: "X";
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      background-color: #FA9595;
      z-index: 1;
      top: -40px;
      bottom: 28px;
      right: -410px;
      margin: auto;
      padding: 2px;
      border-radius: 50%;
      text-align: center;
      color: white;
      font-weight: normal;
      font-size: 12px;
      box-shadow: 0 0 2px #E50F0F;
      cursor: pointer;
    }
    

</style>
<div class="card">
  
  <div class="card-body">
    <form novalidate
          (ngSubmit)="save()"
          [formGroup]="customerForm">
    <div class="card-header">
      Add Steps To Prepare!
    </div>     
	<div *ngIf="true">
        <div formArrayName="addresses"  *ngFor="let address of addresses.controls; let i=index">
          <hr *ngIf="i>0">
          <div [formGroupName]="i">
            <div class="form-group row mb-2">
              <label class="col-md-1 col-form-label"
                     attr.for="{{'street1Id' + i}}">Step# {{i+1}} </label>
                   
              <div class="col-md-7">
                <textarea class="form-control"
                       id="{{'street1Id' + i}}"
                       type="text"
                       placeholder="Enter Direction for step {{i+1}} (required)"
                       formControlName="street1"
                       [ngClass]="{'is-invalid': (address.controls.street1.touched || 
                                                  address.controls.street1.dirty) && 
                                                  !address.controls.street1.valid }">
                </textarea>
                <button *ngIf="address.controls.street1.value && address.controls.street1.value.length>1" title="clear content"
                    (click)="clearValue(i,'street1')" class="btn text-danger clear-textarea"><i class="fa fa-close"></i></button>
                <span class="invalid-feedback">
                  <span *ngIf="address.controls.street1.errors?.required">
                    Please enter Direction for this step.
                  </span>
                </span>
              </div>
              <div class="col-md-3">
                <input class="form-control"
                       id="{{'street1IdTime' + i}}"
                       type="number"
                       placeholder="Time to Prepare (required)"
                       formControlName="street1time"
                       [ngClass]="{'is-invalid': (address.controls.street1time.touched || 
                                                  address.controls.street1time.dirty) && 
                                                  !address.controls.street1time.valid }">
                <span class="invalid-feedback">
                  <span *ngIf="address.controls.street1time.errors?.required">
                    Please enter correct time.
                  </span>
                </span>
              </div>
              <span >
                <button *ngIf="i>0" class="btn text-danger" (click)="deleteIngrediant(i)"><i class="fa fa-trash"></i></button>
                <button *ngIf="i === addresses.controls.length-1" [disabled]="!addresses.valid"
                    (click)="addAddress()" class="btn text-success"><i class="fa fa-plus"></i></button>
              </span>  
            </div>

            
            <div class="form-group row mb-2">
              <label class="col-md-1 col-form-label"
                     attr.for="{{'street1photo' + i}}">Photo</label>
              <div class="col-md-4">
                <input class="form-control" #file
                       id="{{'street1photo' + i}}"
                       type="file"
                       placeholder="Enter Url for photo  (Optional)"
                       formControlName="street1photo" accept='image/*' (change)="preview(file, i)" />
              <button *ngIf="address.controls.street1photo.value && address.controls.street1photo.value.length>1" title="clear content"
                          (click)="clearValue(i,'street1photo'); imgURL[i]=null" class="btn text-danger clear-textarea"><i class="fa fa-close"></i></button>       
              </div>
              <div class="col-md-1">
                  <img [src]="imgURL[i]" height="50" *ngIf="imgURL[i]">
              </div>
              <label class="col-md-1 col-form-label"
                       attr.for="{{'street1video' + i}}">Video Url</label>
                <div class="col-md-4">
                  <input class="form-control"
                         id="{{'street1video' + i}}"
                         type="text"
                         placeholder="Enter Url for video  (Optional)"
                         formControlName="street1video" (change)="isURLReal(address.controls.street1video.value, i)">
                         <button *ngIf="address.controls.street1video.value && address.controls.street1video.value.length>1" title="clear content"
                            (click)="clearValue(i,'street1video'); videoURL[i]=null" class="btn text-danger clear-textarea"><i class="fa fa-close"></i></button>              
                </div>
                <div class="col-md-1">
                  <video *ngIf="videoURL[i]" width="50" height="50" controls="" controlslist="nodownload" 
                    autoplay="true">
                    <source [src]="videoURL[i]" type="video/mp4">
                    </video>
                </div>
            </div>
              
            

          </div>
        </div>
      </div>
      
    </form>
  </div>
</div>
<br>Dirty: {{ customerForm.dirty }}
<br>Touched: {{ customerForm.touched }}
<br>Valid: {{ customerForm.valid }}
<br>Value: {{ customerForm.value | json }}
<br>Street: {{ addresses.get('0.street1')?.value }}
<br>&nbsp;